[submodule "backend"]
	path = backend
	url = https://github.com/cvelazqueze/notification-system-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/cvelazqueze/notification-system-frontend.git
